@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(231, 229, 229);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.card {
    width: 180px;
    height: 280px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 1px 1px 5px rgb(212, 209, 209);
}

.Image-box {
    width: 100%;
    height: 280px;
    border-radius: 20px;

}

.img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    object-position: center;
}

.info {
    margin-top: -121px;
    background-color: rgba(255, 255, 255, 0.2);
     backdrop-filter: blur(10px);
     border-end-end-radius: 20px;
     border-end-start-radius: 20px;
     padding-left:12px;
     padding-bottom: 7px;
}

.heading {
    margin-top: 13px;
}

h2 {
    font-size: 13px;
    font-family: Roboto;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

span {
    color: green;
    vertical-align: middle;
}

.p1 {
    font-size: 11px;
    color: black;
    font-family: Roboto;
    word-spacing: 1px;
    line-height: 1.5;
    margin-top: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 50px 50px 1fr;
    margin-top: 15px;
    align-items: center;
}

.icon3 {
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
}

.p2 {
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
}

.icon4 {
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
}

.p3 {
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
}

.follow-btn {
    font-size: 9px;
    width: 60px;
    height: 20px;
    border: none;
    border-radius: 10px;
}