.Audio-Container{
    flex:1;
    display:flex;
    gap:40px;
    align-items:center;
    padding:35px;
    margin:30px;

    background:#1a1f27;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.35);
}

.album-cover{
    width:300px;
    height:300px;
    object-fit:cover;
    border-radius:20px;
}

.player-content{
    flex:1;
}


.desktop-player{
    display:block;
}

.mobile-player{
    display:none;
}

.song-name{
    color:#fff;
    font-size:32px;
    margin-bottom:8px;
}

.artist-name{
    color:#bdbdbd;
    margin-bottom:25px;
}

.song-time{
    width:100%;
    appearance:none;
    height:6px;
    background:#ff00ff;
    border-radius:20px;
    cursor:pointer;
}

.song-time::-webkit-slider-thumb{
    appearance:none;
    width:18px;
    height:18px;
    border-radius:50%;
    background:#ff00ff;
    border:3px solid white;
}

.time-info{
    display:flex;
    justify-content:space-between;
    margin-top:8px;
    color:#bdbdbd;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin-top: 30px;
    column-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.main-buttons button {
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    background: #ff00ff;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.suffleBtn {
    justify-self: start;
    width: 50px;
    height: 46px;
    border: none;
    border-radius: 50%;
    background: #7c3aed;
    color: white;
    cursor: pointer;
    font-size: 14px;
}
.suffleBtnActive{  
    background: #1db954;
    box-shadow: 0 0 12px rgba(29, 185, 84, 0.5);;
}

.suffleBtn:active { 
    background: #1db954;
    box-shadow: 0 0 12px rgba(29, 185, 84, 0.5);;
}

.main-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.loopSong {
    justify-self: end;
    width: 50px;
    height: 46px;
    border: none;
    border-radius: 50%;
    background: #7c3aed;
    color: white;
    cursor: pointer;
    font-size: 14px;
}
.loopSong:active { 
    background: #ff00ff;
    box-shadow:0 0 12px rgba(29, 185, 84, 0.5);
}

.loopSongActive {
    background: #1db954 !important;
    box-shadow: 0 0 12px rgba(29, 185, 84, 0.5);
}




.buttons .playBtn{
    width:72px;
    height:72px;
    font-size:24px;
}

.active-song h4,
.active-song p {
    color: #1db954;
}