/* NavBar Responsive */

@media screen and (min-width: 200px) and (max-width: 950px) {
    .nav-bar {
        padding-left: 20px;
        padding-right: 20px;
        height: 60px;
    }
    

    .logo-section {
        width: 90px;
    }
    
}
@media screen and (max-width: 600px) {
    .nav-bar select{
        padding: 6px 14px 6px 14px;
    }
    
}
